body {
    background-color: black;
    color: gray;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

button {
    background-color: silver;
    color: black;
    font-family: "Josefin Sans", sans-serif;
}